**/node_modules
**/dist
**/.output
**/.nuxt
**/.cache
**/.turbo
**/coverage

.git
.github
.husky
.vscode
.idea
.DS_Store

**/*.log
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example

**/test
**/tests
**/__tests__
**/*.spec.ts
**/*.test.ts
**/*.e2e-spec.ts

docs
poc-archive
assets-source
sidebar-vision*.html
*.md

apps/web/.data
apps/web/uploads
apps/api/uploads
