STACK_NAME=nookapp-prod
DOMAIN=nookapp.eu

GHCR_OWNER=jordanolv
IMAGE_TAG=latest

POSTGRES_USER=nookapp
POSTGRES_PASSWORD=change-me-strong-password
POSTGRES_DB=nookapp

JWT_SECRET=change-me-min-32-characters-long
BETTER_AUTH_SECRET=change-me-min-32-characters-long

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

LIVEKIT_API_KEY=change-me
LIVEKIT_API_SECRET=change-me-min-32-characters-long
LIVEKIT_NODE_IP=
LIVEKIT_TCP_PORT=7881
LIVEKIT_UDP_PORT=7882

MAIL_DRIVER=mailpit
MAIL_FROM="NookApp <noreply@nookapp.eu>"
MAILPIT_HOST=mailpit
MAILPIT_PORT=1025
RESEND_API_KEY=

NUXT_PUBLIC_GIPHY_API_KEY=
